/* todo: Remove all unused font w */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;

/* Custom Stuff */

.nav-item {
    @apply rounded-md py-2 px-3 inline-flex items-center text-sm font-medium
    text-gray-900 dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-gray-700
    hover:text-gray-900 dark:hover:text-gray-300 capitalize
}

.nav-item-mobile {
    @apply block rounded-md py-2 px-3 text-base font-medium text-gray-900
    dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-gray-700
    hover:text-gray-900 dark:hover:text-gray-300
}

.component-nav {
    @apply group rounded-md px-3 py-2 flex items-center text-sm font-medium
    text-gray-900 dark:text-gray-200 hover:text-gray-900  dark:hover:bg-gray-700
    hover:bg-gray-50 dark:hover:text-gray-300
}

.component-nav.active {
    @apply bg-gray-50 dark:bg-gray-700 text-purple-600 dark:text-purple-400
    hover:text-purple-600 dark:hover:text-purple-400 hover:bg-white
    dark:hover:bg-gray-700
}

.component-nav-icon {
    @apply flex-shrink-0 -ml-1 mr-3 h-6 w-6 text-gray-400 dark:text-purple-200
}

.active .component-nav-icon {
    @apply text-purple-600 dark:text-purple-400
}

.input {
    @apply mt-1 block w-full border border-gray-300 dark:border-gray-700
    rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-gray-900
    dark:focus:ring-gray-600 focus:border-gray-900 dark:focus:border-gray-600
    sm:text-sm dark:bg-gray-700 dark:text-gray-300
}

.breadcrumb-link {
    @apply ml-4 text-sm font-medium text-gray-500 dark:text-gray-400
    hover:text-gray-700 dark:hover:text-gray-50 capitalize
}

.loader {
    font-size: 30px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@tailwind utilities;
